In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
path = 'D:/CS课件/data/orders.txt'
df1 = pd.read_csv(path,sep='\t',encoding='ISO-8859-1',parse_dates=['orderdate'])
path1 = 'D:/CS课件/data/customer.txt'
df2 = pd.read_csv(path1,sep='\t',encoding='ISO-8859-1')

In [17]:
df2.head()

   customerid  householdid gender firstname
0      174596     53949999      M    DANIEL
1       68239     49927024      M       JIM
2       10203     20914414      F     DONNA
3      174288     53957047      F     DIONE
4       68099     49927024      M       JIM

In [18]:
df1.head()

,orderid,customerid,campaignid,orderdate,city,state,zipcode,paymenttype,totalprice,numorderlines,numunits
0,1002854,45978,2141,2009-10-13,NEWTON,MA,02459,VI,190.00,3,3
1,1002855,125381,2173,2009-10-13,NEW ROCHELLE,NY,10804,VI,10.00,1,1
2,1002856,103122,2141,2011-06-02,MIAMI,FL,33137,AE,35.22,2,2
3,1002857,130980,2173,2009-10-14,E RUTHERFORD,NJ,07073,AE,10.00,1,1
4,1002886,48553,2141,2010-11-19,BALTIMORE,MD,21218,VI,10.00,1,1

In [36]:
df = df1.merge(df2[['customerid','householdid']],on='customerid')

In [37]:
df

,orderid,customerid,campaignid,orderdate,city,state,zipcode,paymenttype,totalprice,numorderlines,numunits,householdid
0,1002854,45978,2141,2009-10-13,NEWTON,MA,02459,VI,190.00,3,3,18991234
1,1002855,125381,2173,2009-10-13,NEW ROCHELLE,NY,10804,VI,10.00,1,1,36173848
2,1002856,103122,2141,2011-06-02,MIAMI,FL,33137,AE,35.22,2,2,36204911
3,1002857,130980,2173,2009-10-14,E RUTHERFORD,NJ,07073,AE,10.00,1,1,36173923
4,1002886,48553,2141,2010-11-19,BALTIMORE,MD,21218,VI,10.00,1,1,19227025
...,...,...,...,...,...,...,...,...,...,...,...,...
189554,1643147,188940,2170,2016-09-18,BROOKLYN,NY,11209,MC,23.96,1,1,72589473
189555,1643148,189550,2141,2016-09-18,NYC,NY,11385,MC,20.65,1,1,72590477
189556,1643149,188938,2236,2016-09-18,HOUSTON,TX,77070,VI,16.95,1,1,30080748
189557,1643150,189517,2236,2016-09-18,PITTSBURGH,PA,15234,MC,22.95,1,1,72590478
189558,1643157,167434,2141,2016-09-20,NEW YORK,NY,10027,MC,49.45,1,1,22912423

In [44]:
df_f = df.groupby('householdid')['orderdate'].max().reset_index()

In [49]:
df_f.columns = [['householdid','latest_purchase_date']]

In [82]:
df_f['recency'] = df_f['latest_purchase_date'].max()-df_f['latest_purchase_date']

In [91]:
df_f['recency'] = df_f['recency'].apply(lambda x:x.dt.days)

In [94]:
##prediction dataset(30%) :2016-06,07,08
##training dataset(70%):  x = 2016-04,05,06 y = 2016-08

In [104]:
import datetime as dt

In [133]:
dt_prediction = dt.date(2016,10,1)
dt_aug = dt.date(2016,8,1)
month_intervel = 1
month_offset = 3

In [128]:
ds_pred = df_f[(dt_prediction.year*12+dt_prediction.month - 
               df_f['latest_purchase_date'].apply(lambda x: x.dt.year*12+x.dt.month) > month_intervel)&
              (dt_prediction.year*12+dt_prediction.month - 
               df_f['latest_purchase_date'].apply(lambda x: x.dt.year*12+x.dt.month) <= month_intervel+month_offset)]

In [129]:
print(ds_pred.max(),ds_pred.min())

householdid                             NaN
latest_purchase_date    2016-08-31 00:00:00
recency                                 NaN
dtype: object householdid                             NaN
latest_purchase_date    2016-06-01 00:00:00
recency                                 NaN
dtype: object

In [138]:
#train model
ds_aug = df_f[(dt_aug.year*12+dt_aug.month - 
               df_f['latest_purchase_date'].apply(lambda x: x.dt.year*12+x.dt.month) > month_intervel)&
              (dt_aug.year*12+dt_aug.month - 
               df_f['latest_purchase_date'].apply(lambda x: x.dt.year*12+x.dt.month) <= month_intervel+month_offset)]
ds_aug_output = df_f[(df_f['latest_purchase_date'].apply(lambda x: x.dt.year)==dt_aug.year)&
                    (df_f['latest_purchase_date'].apply(lambda x: x.dt.month)==dt_aug.month)]
print(ds_aug.max(),ds_aug.min())
print(ds_aug_output.max(),ds_aug_output.min())

householdid                             NaN
latest_purchase_date    2016-06-30 00:00:00
recency                                 NaN
dtype: object householdid                             NaN
latest_purchase_date    2016-04-01 00:00:00
recency                                 NaN
dtype: object
householdid                             NaN
latest_purchase_date    2016-08-31 00:00:00
recency                                 NaN
dtype: object householdid                             NaN
latest_purchase_date    2016-08-01 00:00:00
recency                                 NaN
dtype: object